<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaminApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaminApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">صفحه اصلی</a>
                        </li>

                        <!-- منوی اطلاعات پایه -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="basicInfoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                اطلاعات پایه
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="basicInfoDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="People" asp-action="Index">اعضا(اشخاص) </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Bank" asp-action="Index">بانک </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Degree" asp-action="Index">مدرک تحصیلی</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="DiseaseType" asp-action="Index">نوع بیماری</a>
                                </li>
                                <li> حسابداری
                                    <ul>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="FiscalYear" asp-action="Index">حسابداری</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="FiscalYear" asp-action="Index">حسابداری</a>
                                        </li>
                                    </ul>
                                   
                                </li>
                               
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="SabtAsnadDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ثبت اسناد
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="SabtAsnadDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Receipt" asp-action="Create">ثبت سوابق پزشکی و بیمه</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Transaction" asp-action="Transfer">ثبت سوابق ورزشی</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Transaction" asp-action="Consumption">ثبت سوابق ایثارگری</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Transaction" asp-action="Return">ثبت تسهیلات بانکی</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Transaction" asp-action="ReturnFromConsumption">ثبت بیمه تکمیلی</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Transaction" asp-action="ReturnFromConsumption">طرح کرامت</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="warehouseOperationsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              حسابداری
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="warehouseOperationsDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Receipt" asp-action="Create">دریافت از اشخاص</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Transaction" asp-action="Transfer">پرداخت به اشخاص</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Transaction" asp-action="Consumption">ثبت درهزینه ها</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Transaction" asp-action="Return">ثبت درآمد ها</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Transaction" asp-action="ReturnFromConsumption">ثبت اموال</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">حریم خصوصی</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - TaminApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
