@model TaminApp.ViewModels.Degree.DegreeEditViewModel ;

@{
    ViewData["Title"] = "ویرایش مدرک تحصیلی جدید";
}

<h3>ویرایش مدرک تحصیلی جدید</h3>

<form asp-action="Edit" method="post">
    <div class="mb-3 row">
        <label asp-for="DegreeName" class="col-sm-2 col-form-label">نام مدرک تحصیلی</label>
        <div class="col-sm-10">
            <input asp-for="DegreeName " class="form-control" />
            <span asp-validation-for="DegreeName " class="text-bg-info"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="IsActive" class="col-sm-2 col-form-label">فعال</label>
        <div class="col-sm-10">
            <input asp-for="IsActive" type="checkbox" class="form-check-input" />
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">ایجاد</button>
            <a asp-action="Index" class="btn btn-secondary">بازگشت</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

